:root {
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-64: 64px;

  --light-grey-1: #eaeaea;
  --light-grey-2: #f4f4f4;
  --dark-grey-secondary: #454444;
  --dark-grey-hover: #666565;
  --grey-light: #A2A2A2;
  --accent: #79D100
}
